<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="about_content w3-container">

        <div class="content_right w3-half">
            <div class="heading">
                <h3 class="title">Expenses</h3>
                <mat-divider></mat-divider>
                <p>We provide a full suit of domain services, including domain name registration, domain name transfers,
                    domain name renewal, domain SSL certification. Well the development charges will depend on the
                    requirements of your business Though you will get
                    your website <b>Maintenance</b> cost around Rs 100/month (1 . 5 USD) only.</p>
            </div>
        </div>

        <div class="content_left w3-half">
            <img class="about_img_content w3-round" src="../../../../../assets/getownbusiness/gob_about_four.svg">
        </div>
    </div>
</body>