<head>
  <title>Santosh Interior</title>
</head>

<body>

  <!-- Home -->
  <div class="home">

    <!-- Header -->
    <header>
      <div class="w3-bar header w3-container">
        <ul>
          <li><a (click)="scrollToPage(whatWeDo)">ABOUT</a></li>
          <li><a (click)="scrollToPage(client)">CLIENT</a></li>
          <li><a (click)="scrollToPage(contact)">CONTACT</a></li>
        </ul>
      </div>
    </header>

    <app-santosh-interior-home></app-santosh-interior-home>

  </div>

  <!-- What we do -->
  <div class="w3-container what_we_do_background" #whatWeDo>
    <app-santosh-interior-what-we-do></app-santosh-interior-what-we-do>
  </div>

  <!-- Our clients -->
  <div class="w3-container client_background" #client>
    <app-santosh-interior-our-clients></app-santosh-interior-our-clients>
  </div>

  <!-- Contact Page -->
  <div class="w3-container contact_background" #contact>
    <app-santosh-interior-contact></app-santosh-interior-contact>
  </div>

  <footer>
    <app-santosh-interior-footer></app-santosh-interior-footer>
  </footer>

</body>