.home {
    height: 100%;
}

.what_we_do_background {
    height          : 100%;
    background-color: #ccdee6;
}

.client_background {
    height          : 100%;
    background-color: #acd3e6;
}

.contact_background {
    height          : 100%;
    background-color: #a1c2cf;
}