<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>

    <div class="w3-container">

        <div class="w3-content about_content_one">

            <p>GetOwnBusiness is a company which brings local businesses online.
                By creating amazing websites and using digital marketing. Help local business to grow more.
                As they grow we grow.</p>
        </div>

        <div class="about_content_two">
            <div class="w3-left w3-half">
                <div class="heading">
                    <h3 class="title">Take it to the next Level</h3>
                    <mat-divider></mat-divider>
                    <p><b>Describe</b> your business to our experts so that they can choose the best for you.</p>
                    <p>Sit back and relax, while our team <b>Develop</b> your website.</p>
                    <p>Let us <b>Deploy</b> your stunning website so that you can start your business online. </p>
                </div>
            </div>

            <div class="w3-right w3-half ">
                <img class="about_img_content_two w3-round" src="../../../../../assets/getownbusiness/gob_about.jpg">
            </div>
        </div>
    </div>

</body>