/* You can add global styles to this file, and also import other style files */
@import 'w3-css/w3.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

html,
body {
    margin     : 0;
    padding    : 0;
    font-family: 'Raleway', sans-serif;
}

*,
::after,
::before {
    box-sizing: border-box;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity          : 0;
        -webkit-transform: translateY(20px);
        transform        : translateY(20px);
    }

    100% {
        opacity          : 1;
        -webkit-transform: translateY(0);
        transform        : translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity          : 0;
        -webkit-transform: translateY(20px);
        -ms-transform    : translateY(20px);
        transform        : translateY(20px);
    }

    100% {
        opacity          : 1;
        -webkit-transform: translateY(0);
        -ms-transform    : translateY(0);
        transform        : translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name        : fadeInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}