/* You can add global styles to this file, and also import other style files */
@import 'w3-css/w3.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';

:host {
    font-family            : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing             : border-box;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height : 100%;
    margin : 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {}