<body>

    <div class="w3-content">
        <div class="heading">
            <h3 class="title">Take your Business to The next Level</h3>
            <mat-divider></mat-divider>
            <div class="subtitle">
                <p class="text-align-left">In just 3 steps</p>
                <ol>
                    <li class="w3-left">Define</li>
                    <li>Design</li>
                    <li class="w3-right">Done</li>
                </ol>
            </div>
        </div>
    </div>
</body>