.image_dimension {
    width : 30%;
    height: 16rem;
    margin: 2%;
    float : left;
}

.client_info {
    width: 100%;
}

.client_info_image {
    width: 100%;
}

@media screen and (max-width: 767px) {

    .image_dimension {
        width : 50%;
        height: 10rem;
    }
}

@media screen and (max-width: 575px) {

    .image_dimension {
        width : 100%;
        height: 10rem;
    }
}