<body>

    <div class="w3-center">
        <p>Our Clients
            <mat-divider></mat-divider>
            <p>
    </div>

    <div *ngFor="let client of ourClients">

        <div class="w3-card-4 w3-center cards" (click)="openClientDetails(client)">

            <header class="w3-container w3-blue">
                <h5>{{client.clientName}}</h5>
            </header>

            <div>
                <img src="{{client.imageUrl[0]}}" alt="clients-image" class="image_dimension" />
            </div>

            <footer class="w3-container w3-blue">
                <h5>{{client.location}}</h5>
            </footer>
        </div>
    </div>
</body>