div {
    p {
        letter-spacing: 2px;
        font-size  : xx-large;
        font-weight: 800;
    }
}

.cards {
    max-width: 400px;
    margin: 1%;
    background-color: #e9ecef;
    float: left;
}

.cards :hover {
    cursor: pointer;
}

.image_dimension {
    height: 300px;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {

}

