div.w3-center {
    p {
        font-size  : xx-large;
        font-weight: 700;
    }
}

.cards {
    width : 20%;
    margin: 2%;
    height: 10%;
    float : left;
}

.cards :hover {
    cursor: pointer;
}

.image_dimension {
    width : 100%;
    height: 8%;
}

@media screen and (max-width: 767px) {
    .cards {
        h3 {
            font-size: 8px;
        }
    }
}

@media screen and (max-width: 575px) {

    .cards {
        h3 {
            font-size: 8px;
        }
    }
}