<body>

    <div>
        <p>Clients
            <mat-divider></mat-divider>
        <p>
    </div>


    <mat-tab-group>
            <div *ngFor="let location of ourClientsLocation">
                <mat-tab label={{location}}>
                    <div *ngFor="let client of getClientsByLocation(location)">
                <mat-card (click)="openClientDetails(client)" class="cards">
                    <mat-card-header>
                        <mat-card-title>{{client.clientName}}</mat-card-title>
                        <mat-card-subtitle>{{client.location}}&nbsp;&nbsp;</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <img mat-card-image src="{{client.imageUrl[0]}}" alt="clients-image" class="image_dimension" />
                    </mat-card-content>
                </mat-card>
            </div>
            </mat-tab>
            </div>
    </mat-tab-group>




</body>