<head>
    <title>GetOwnBusiness</title>
</head>

<body>

    <!-- Home -->
    <div class="home">

        <!-- Header -->
        <!-- <header>
            <div class="w3-bar header w3-container">

                <div class="w3-half w3-left powered_by">
                       <a href="/"><b>getownbusiness.com</b></a>
                </div>

                <div class="w3-half w3-right">
                    <ul>
                        <li><a (click)="scrollToPage()"></a></li>
                        <li><a (click)="scrollToPage()"></a></li>
                        <li><a (click)="scrollToPage()"></a></li>
                      </ul>
                </div>
               
              </div>
        </header> -->

        <app-getownbusiness-home></app-getownbusiness-home>

    </div>


    <div class="about">
        <div class="w3-right w3-half ">
            <img class="about_img w3-round" src="../../../../assets/getownbusiness/gob_about.jpg">
            <!-- Some Image -->
        </div>
        <div class="w3-left w3-half">
            <app-getownbusiness-about></app-getownbusiness-about>
        </div>

    </div>

    <div class="clients">
        <app-getownbusiness-clients></app-getownbusiness-clients>
    </div>

</body>