<head>
    <title>GetOwnBusiness</title>
</head>

<body>

    <!-- Home -->
    <div class="home">

        <!-- Header -->
        <!-- <header>
            <div class="w3-bar header w3-container">

                <div class="w3-half w3-left powered_by">
                       <a href="/"><b>getownbusiness.com</b></a>
                </div>

                <div class="w3-half w3-right">
                    <ul>
                        <li><a (click)="scrollToPage()"></a></li>
                        <li><a (click)="scrollToPage()"></a></li>
                        <li><a (click)="scrollToPage()"></a></li>
                      </ul>
                </div>
               
              </div>
        </header> 

        <app-getownbusiness-home></app-getownbusiness-home>-->



        <div class="w3-panel w3-left">
            <h1 style="font-family: Raleway, sans-serif;">We are under construction right now...</h1>
            <h3 class="w3-center">~ GetOwnBusiness.com</h3>
        </div>
    </div>

</body>