.home {
    background         : url("../../../../assets/getownbusiness/gob_home.jpg");
    border             : 0;
    height             : 90vh;
    margin             : 0;
    display            : flex;
    padding            : 0;
    overflow           : hidden;
    position           : relative;
    max-height         : 1000px;
    align-items        : center;
    background-size    : cover;
    background-position: center top;
}

.content_section {
    margin       : -40px 30px 6px;
    box-shadow   : 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index      : 3;
    position     : relative;
    background   : #FFFFFF;
}

.about_one,
.about_two,
.about_three,
.about_four {
    position: relative;
    width   : 100%;
}

.clients {
    height: 50vh;
    width : 100%;
}

.contact {
    background                : linear-gradient(#8e9eab, #eef2f3);
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
}

.header {
    background-color: transparent;
}

.powered_by a {

    font-family    : 'Qwigley', cursive !important;
    font-size      : 25px;
    font-weight    : 600;
    letter-spacing : 5px;
    text-decoration: none;
}


@media screen and (max-width: 767px) {

    .header ul {

        padding-inline-start: 0;

        li {
            a {
                font-size: 16px;
                padding  : 6px;
            }
        }
    }
}

@media screen and (max-width: 575px) {

    .header ul {
        padding-inline-start: 0;

        li {
            a {
                font-size: 16px;
                padding  : 4px;
            }
        }
    }
}