.home {
    background           : url("../../../../assets/getownbusiness/gob_home.jpg");
    height               : 100vh;
    width                : 100%;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-position  : center;
    opacity              : 0.9;
    background-attachment: fixed;
    z-index              : 0;
}

.about_one,
.about_two,
.about_three,
.about_four {
    position: relative;
    width   : 100%;
}

.clients {
    height: 50vh;
    width : 100%;
}

.contact {
    background         : url("../../../../assets/getownbusiness/gob_contact.jpg");
    width              : 100%;
    position           : relative;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
}

header {
    width   : 100%;
    position: fixed;
}

.header ul {
   
    text-align: center;

    li {
        list-style : none;
        display    : inline-block;
        margin-left: 4%;

        a {
            display        : block;
            text-decoration: none;
            text-transform : uppercase;
            color          : #fff;
            font-size      : 20px;
            letter-spacing : 2px;
            font-weight    : 900;
            padding        : 20px;
            transition     : all ease 0.5s;
        }

        a:hover {
            cursor          : pointer;
            color           : #000000;
            background-color: #e9ecef;
        }
    }
}

mat-divider {
    border-top-color: #ffffff;
}

.powered_by a {

    font-family    : 'Qwigley', cursive !important;
    font-size      : 25px;
    font-weight    : 600;
    letter-spacing : 5px;
    text-decoration: none;
}


@media screen and (max-width: 767px) {

    .header ul {

        padding-inline-start: 0;

        li {
            a {
                font-size: 16px;
                padding  : 6px;
            }
        }
    }
}

@media screen and (max-width: 575px) {

    .header ul {
        padding-inline-start: 0;

        li {
            a {
                font-size: 16px;
                padding  : 4px;
            }
        }
    }
}