body {
    color: #000000;
}

.contact {
    text-align: right;

    ul {
        padding-inline-start: 0;

        li {
            display    : inline-block;
            list-style : none;
            margin-left: 5%;

            a {
                text-decoration: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {

    .contact {
        text-align: start;

        ul {
            text-align          : start;
            padding-inline-start: 0;

            li {

                margin-left : 0;
                margin-right: 5%;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .contact {
        text-align: start;

        ul {
            text-align          : start;
            padding-inline-start: 0;

            li {

                margin-left : 0;
                margin-right: 5%;
            }
        }
    }
}