body {
    color           : #000000;

    div.w3-left {
        font-size  : 12px;
        font-weight: bold;
        width      : 50%;

        nav a {
            text-decoration: none;
        }
    }

    div.w3-right {
        font-size  : 14px;
        font-weight: bold;
    }
}

.contact {
    text-align: right;

    ul {
        display: block;

        li {
            display   : inline-block;
            list-style: none;
            margin-left: 2%;

            a {
                text-decoration: none;
            }
        }
    }
}