<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="about_content w3-container">

        <div class="content_right w3-half">
            <div class="heading">
                <h3 class="title">Express</h3>
                <mat-divider></mat-divider>
                <p>Share about your business and we will create an <b>Perfect</b> website for an perfect business</p>
            </div>
            
        </div>

        <div class="content_left w3-half">
            <img class="about_img_content w3-round" src="../../../../../assets/getownbusiness/gob_about_two.jpg">
           
        </div>
    </div>
</body>