<head>
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
</head>

<body class="w3-container w3-row">
    <div class="w3-half w3-left-align">

        <div class="w3-container powered_by">
            <p><b>Powered by:</b><br> <a href="/">getownbusiness.com</a></p>
        </div>

    </div>

    <div class="w3-half">

        <div class="w3-right-align">
            <p>Copyright © 2020 GetOwnBusiness.</p>
        </div>
        <div class="w3-panel contact">

            <ul>
                <h3>Contact</h3>
                <li><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=getownbusiness@gmail.com&tf=1"
                        target="_blank">Email</a></li>
                <li><a href="https://www.facebook.com/Santosh-interior-104345427766960/?modal=admin_todo_tour"
                        target="_blank">Facebook</a></li>
                <li><a href="../../../../../assets/privacy_policy.html" target="_blank">Privacy Policy</a></li>
                <li><a href="../../../../../assets/terms_and_conditions.html" target="_blank">Terms of Use</a></li>
            </ul>
        </div>

        <div class="w3-right">
            <p>Made in &nbsp; <img width="40" alt="Indian Flag" src="../../../../assets/common/IndianFlag.png" />
        </div>
    </div>
</body>