body {
    background                : linear-gradient(180deg, #8e9eab, #eef2f3);
    border-bottom-left-radius : 6px;
    border-bottom-right-radius: 6px;
}

a {
    text-decoration: none;

    i {
        float     : right;
        margin-top: 1%;
        color     : #fff;
        cursor    : pointer;
    }
}

.heading {
    color     : #fff;
    margin-top: 10%;

    .title {
        font-family: "Segoe UI", Arial, sans-serif;
        font-size  : 3rem;
        font-weight: 900;
    }

    p {
        color: #252F38;
        margin-top : 2%;
        font-family: 'Quicksand', sans-serif;
        font-size  : 1.3rem;
        font-weight: 500;
    }
}

button {
    width: 10%;
}

button:hover {
    background-color: #adbac5;
    color           : #fff;
}