.heading {

    color: white;
    margin-top: 10%;

    .title {
        font-family: "Segoe UI",Arial,sans-serif;
        font-size  : 3rem;
        font-weight: 900;
    }
    p {
        margin-top: 2%;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
    }
}