a {
    text-decoration: none;

    i {
        float     : right;
        margin-top: 1%;
        color     : #fff;
        cursor    : pointer;
    }
}

.heading {
    color     : #252F38;
    margin-top: 10%;

    .title {
        font-family: "Segoe UI", Arial, sans-serif;
        font-size  : 3rem;
        font-weight: 900;
    }

    p {
        color: #fff;
        margin-top : 2%;
        font-family: 'Quicksand', sans-serif;
        font-size  : 1.3rem;
        font-weight: 500;
    }
}

button {
    width: 10%;
}

button:hover {
    background-color: #000000;
    color           : #fff;
}