<body>

    <div class="w3-container w3-content">

        <ng-container id="heading">
            <h3 class="title">Our Clients
                <mat-divider></mat-divider>
            </h3>
        </ng-container>

        <ng-container id="heading">
            <div class="clients_logo">
                <a href="/santoshinterior">
                    <img src="../../../../../assets/getownbusiness/santoshinterior_client.JPG" alt="santosh Interior" />
                </a>
            </div>
        </ng-container>
    </div>
</body>