<body>

    <div class="client_content w3-container w3-content">

        <ng-container id="heading">
            <h3 class="title">Our Clients</h3>
        </ng-container>

        <ng-container id="heading">
            <div class="clients_logo">
                <a href="https://getownbusiness.com/#/santoshinterior" target="_blank">
                    <p>Santosh Interior</p>
                </a>

                <a href="https://bmrcalculator.in/" target="_blank">
                    <p>BMR Calculator</p>
                </a>

                <a href="http://dhruveshpatel.in/" target="_blank">
                    <p>Dhruvesh Patel</p>
                </a>
            </div>
        </ng-container>
    </div>
</body>