body {
    font-family: 'Muli', sans-serif;
    height     : 50vh;
    width      : 100%;
}

.client_content {
    position  : relative;
    margin-top: 10%;
}

.title {
    font-family  : 'Quicksand', sans-serif;
    font-size    : 2.5rem;
    font-weight  : 900;
    text-align   : center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    padding      : 0% 0% 2% 0%;
}

.clients_logo {

    text-align: center;

    a {
        text-decoration: none;
        display        : inline-block;
        font-size      : 24px;
        margin-right   : 5%;
        padding        : 0% 5% 0% 5%;
        font-family    : 'Raleway', sans-serif;
        font-weight    : 600;
        transition     : all 0.5s;
    }
}

a:nth-child(even) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-left : 1px solid rgba(0, 0, 0, 0.2);
}

a:hover {
    background-color: #adbac5;
    color           : #fff;
}

.santoshinterior_client_image {
    margin-top: 5%;
    width     : 50%;
}

.bmr_client_image {
    width: 20%;
}

@media screen and (max-width: 767px) {

    body {
        height: 60vh;
    }

    a:nth-child(even) {

        border-top   : 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right : none;
        border-left  : none;
    }

    a:hover {
        background-color: #fff;
        color           : #000;
    }
}

@media screen and (max-width: 575px) {

    body {
        height: 60vh;
    }

    a:nth-child(even) {

        border-top   : 1px solid rgba(0, 0, 0, 0.2);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-right : none;
        border-left  : none;
    }

    a:hover {
        background-color: #fff;
        color           : #000;
    }
}