<body>

    <div class="client_content w3-container w3-content">

        <ng-container id="heading">
            <h3 class="title">Our Clients
                <mat-divider></mat-divider>
            </h3>
        </ng-container>

        <ng-container id="heading">
            <div class="clients_logo">
                <a href="/santoshinterior" target="_blank">
                    <img src="../../../../../assets/getownbusiness/client/santoshinterior_client.JPG"
                        alt="santosh Interior" class="santoshinterior_client_image"/>
                </a>

                <a href="https://bmrcalculator.in/" target="_blank">
                    <img src="../../../../../assets/getownbusiness/client/bmrCalculator_client.jpg"
                        alt="bmr Calculator" class="bmr_client_image"/>
                </a>
            </div>
        </ng-container>
    </div>
</body>