body {
    font-family: 'Muli', sans-serif;
}

.client_content {
    position  : relative;
    margin-top: 10%;
}

.title {
    font-family: 'Quicksand', sans-serif;
    font-size  : 2rem;
    font-weight: 900;
    text-align : center;

    mat-divider {
        background-color: #000000;
        opacity         : 0.3;
    }
}

.clients_logo {
    a {
        margin: 2%;
    }
}
.santoshinterior_client_image {
    margin-top: 5%;
    width     : 50%;
}

.bmr_client_image {

    width: 20%;
}