body {
    font-family: 'Muli', sans-serif;
}

.heading {
    position: relative;
    color   : #ffffff;
    top     : 30%;

    .title {
        margin        : 0;
        text-align    : center;
        letter-spacing: 10px;
        font-size     : xx-large;
    }

    .sub_title {
        font-size     : large;

    }
}