body {
    font-family: 'Muli', sans-serif;
}

.heading {
    position: relative;
    color   : #ffffff;
    top     : 30%;

    .title {
        font-family   : 'Qwigley', cursive;
        margin        : 0;
        text-align    : center;
        letter-spacing: 10px;
        font-size     : 6rem;
    }
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 575px) {

    .heading {
    
        .title {
            font-size     : 3rem;
        }
    }
}