body {
    font-family: 'Muli', sans-serif;
}

.heading {
    color        : #fff;
    cursor       : default;
    margin       : 10% 0% 45% 20%;
    width        : 100%;
    opacity      : 0.9;
    border-radius: 6px;

    .title {

        font-family   : 'Qwigley', cursive;
        margin        : 0;
        text-align    : center;
        letter-spacing: 10px;
        font-size     : 8rem;
    }
}

@media screen and (max-width: 767px) {
    .heading {
        left: 1%;
    }

}

@media screen and (max-width: 575px) {

    .heading {

        left: 1%;

        .title {
            font-size: 2rem;
        }
    }
}