<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="about_content w3-container">

        <div class="content_left w3-half">
            <div class="heading">
                <h3 class="title">Design</h3>
                <mat-divider></mat-divider>
                <p>We provides professional website design services like static website development, Business website
                    development, blogs, portfolio websites and E-Commerce websites. We provide responsive website
                    designs according to your <b>Requirements</b> and online business solutions that are focused on
                    providing an effective web presence.
                </p>
            </div>
        </div>

        <div class="content_right w3-half">
            <img class="about_img_content w3-round" src="../../../../../assets/getownbusiness/gob_about_three.svg">
        </div>
    </div>
</body>