<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
    <div class="about_content w3-container">

        <div class="content_left w3-half">
            <div class="heading">
                <h3 class="title">Design</h3>
                <mat-divider></mat-divider>
                <p>Our engineer will constanlty in touch with you to fulfill your <b>Requirements</b> and to make the
                    website
                    look and feel better.</p>
            </div>
        </div>


        <div class="content_right w3-half">
            <img class="about_img_content w3-round" src="../../../../../assets/getownbusiness/gob_about_three.jpg">
        </div>
    </div>
</body>