<body class="w3-container">

    <div class="w3-center">
        <p>What we do
            <mat-divider></mat-divider>
            <p>
    </div>

    <article>
        <p>Santosh Interiors has an working expierence of 10 years in Home interior designing. We take contracts of wall
            painting, Kitchen furnishing, Tiles, Flooring, Plumbing, Window Sliding, Civil
            contractor.
        </p>

        <p><b>Locations We Serve:</b> Thane | Mulund | Kalwa | Nahur | Gandhinagar| Powai | All in Navi mumbai</p>

        <p><b>Clients we Served till now: </b> 00 </p>
    </article>
</body>