<body class="w3-container">

    <div class="w3-center">
        <p>What we do
            <mat-divider></mat-divider>
            <p>
    </div>

    <article>
        <p>Santosh Interiors has an working expierence of 10 years in Home interior designing. We take contracts of wall
            painting, Kitchen furnishing, Tiles, Flooring, Plumbing, Window Sliding, Civil
            contractor.
        </p>

        <p><b>Locations We Serve:</b> Thane | Mulund | Kalwa | Nahur | Gandhinagar| Powai | All in Navi mumbai</p>

        <p><b>Clients we Served till now: </b> 00 </p>
    </article>

    <iframe class="w3-right frame_dimensions"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120560.07993226721!2d72.87467507635772!3d19.216919994068352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b923ad4dffe7%3A0xdc872a98107be1dc!2sSANTOSH%20INTERIOR%20-%20Home%20interior%20designer%20-%20painter%20%7C%20Kitchen%20Platform%20%7C%20Tiles%20Flooring%20%7C%20Plumbing%20%7C%20Window%20Sliding%20%7C%20Civil%20contractor!5e0!3m2!1sen!2sin!4v1577529862887!5m2!1sen!2sin"
        width="30%" height="50%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</body>