<body class="w3-container">

    <div class="w3-center">
        <p>{{title}}
            <mat-divider></mat-divider>
            <p>
    </div>

    <article>
        <h4><b>Description</b></h4>
        <p>{{description}}</p>

        <div class="w3-row">
            <div class="w3-half">
                <h4><b>One of the best Carpenter in Mumbai</b></h4>
                <ul>
                    <li>Doorstep service</li>
                    <li>Protection against any collateral damage</li>
                    <li>15 days post-service guarantee </li>
                </ul>

                <h4><b>Services we provide</b></h4>
                <ul>
                    <li>Civil contractor</li>
                    <li>Washroom or Toilet related fixes</li>
                    <li>Window sliding</li>
                    <li>Painting work : indoor, outdoor</li>
                    <li>Tiles Flooring</li>
                    <li>Kitchen Platform</li>
                    <li>Plumbing</li>
                    <li>Cleaning</li>
                </ul>

                <h4><b>Our availability</b></h4>
                <ul>
                    <li>9 AM to 9 PM All days</li>
                </ul>
            </div>

            <div class="w3-half">
                <h4><b>Why choose us?</b></h4>
                <ul>
                    <li>We provide multiple solutions</li>
                    <li>Can manage 24*7 assistance</li>
                    <li>Have a great team</li>
                    <li>Less expensive</li>
                </ul>

                <iframe class="w3-right frame_dimensions"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120560.07993226721!2d72.87467507635772!3d19.216919994068352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b923ad4dffe7%3A0xdc872a98107be1dc!2sSANTOSH%20INTERIOR%20-%20Home%20interior%20designer%20-%20painter%20%7C%20Kitchen%20Platform%20%7C%20Tiles%20Flooring%20%7C%20Plumbing%20%7C%20Window%20Sliding%20%7C%20Civil%20contractor!5e0!3m2!1sen!2sin!4v1577529862887!5m2!1sen!2sin"
                    width="30%" height="50%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

                <h4><b>Locations we serve</b></h4>
                <ul>
                    <li>Navi Mumbai</li>
                    <li>Thane</li>
                    <li>Mulund</li>
                    <li>Ghodbunder</li>
                </ul>

                <h4><b>How do we work?</b></h4>
                <ul>
                    <li>We have a team that can give multiple solutions to your doorstep.</li>
                    <li>We work on contract basis</li>
                </ul>

            </div>
        </div>
    </article>

</body>