
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.backgound-image {
    background         : url("../../../../assets/common/404.jpg");
    height             : 100%;
    width              : 100%;
    position           : fixed;
    z-index            : -1;
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
}

.by_company {
    margin-left: 35%;
}